
.weather-container {
    width: 300px;
    padding: 20px;
    
    border: 1px solid #ddd;
  }
  
  .city-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .weather-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .temperature {
    font-size: 48px;
    font-weight: bold;
  }
  
  .weather-description {
    font-size: 16px;
  }
  .citybutton {
    cursor: hand;
    cursor: pointer;
    font-size: 2vh; 
    border: 1px solid black;
    width: 120px;
    padding: 7px;
  }
  
  